In [1]:
# Dependencies
import pandas as pd

#Load 2015 - 2018 csv mental health data and suicide mortality into dataframes 
mh_2015_full = pd.read_csv("Resources/2015/Data/2015_mh_data.csv")
mh_2016_full = pd.read_csv("Resources/2016/Data/2016_mh_data.csv")
mh_2017_full = pd.read_csv("Resources/2017/Data/2017_mh_data.csv")
mh_2018_full = pd.read_csv("Resources/2018/Data/2018_mh_data.csv")
mh_suicide = pd.read_csv("Resources/suicide_mortality _multiyear.csv")
gov_party = pd.read_csv("Output/gov_election2016.csv")

#Rename inconsistent column in 2017 dataset
mh_2017_full =mh_2017_full.rename(columns = {'lst':'LST'})

In [2]:
#Converting state abreviations to state full names

#Citing the website that provided a dictionary of state abreviations and state names
#""" Title: PYTHON DICTIONARY OF US STATES AND TERRITORIES (PYTHON RECIPE)
#Author: Mike Shultz 
#Date: July 14, 2010
#Code version: 1
#Availability: http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/ """

#Dictionary of state abreviations
us_states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'ZZ': 'Unknown'
}

In [3]:
#Create a list of mh dataframes
dataset_lst = [mh_2015_full, mh_2016_full, mh_2017_full, mh_2018_full]

#Loops through each mh dataframe and adds the full state name into a new column state
for dataset in dataset_lst:

    index_count = 0
    dataset['state'] = ""
    
    for rows in dataset.iterrows():
        abr_name = dataset.loc[index_count, 'LST']
        full_name = us_states[abr_name]
        dataset.loc[index_count, 'state'] = full_name
        index_count = index_count + 1

In [4]:
#Loops through suicide dataframe and adds the full state name into a new column state
index_count = 0
mh_suicide['state'] = ""

for rows in mh_suicide.iterrows():
        abr_name = mh_suicide.loc[index_count, 'STATE']
        full_name = us_states[abr_name]
        mh_suicide.loc[index_count, 'state'] = full_name
        index_count = index_count + 1

In [5]:
#isolate 2017 data into new dataframe
mh_2017_suicide = mh_suicide.loc[mh_suicide['YEAR']== 2017]
mh_2017_suicide= mh_2017_suicide[['state', 'RATE']]

mh_2017_suicide.to_csv('Output/mh_suicide_2017.csv')

mh_2016_suicide = mh_suicide.loc[mh_suicide['YEAR']== 2016]
mh_2016_suicide = mh_2017_suicide[['state', 'RATE']]

mh_2015_suicide = mh_suicide.loc[mh_suicide['YEAR']== 2015]
mh_2015_suicide = mh_2015_suicide[['state', 'RATE']]

suicide_rates= pd.merge(mh_2015_suicide, mh_2016_suicide, on='state', suffixes = ('_2015', '_2016') )
suicide_rates_all = pd.merge(suicide_rates, mh_2017_suicide, on='state' )
suicide_rates_all = suicide_rates_all.rename(columns ={'RATE_2015': '2015','RATE_2016': '2016', 'RATE': '2017'})

suicide_rates_all.to_csv('Output/mh_suicide_all.csv')

bottom5_suicide = mh_2017_suicide.nsmallest(5, 'RATE')
top5_suicide = mh_2017_suicide.nlargest(5, 'RATE')

bottom5_names = bottom5_suicide['state']
top5_names = top5_suicide['state']

In [6]:
#Create a list of colomn names for condensed dataframes
mh_cols = ['state', 'FOCUS', 'CRISISTEAM2', 'TREATMT', 'MHDIAGEVAL', 'MHREFERRAL', 'MHEMGCY', 'MHSUICIDE', 'PAYASST',
           'LANG', 'LANG16', 'CHILDAD', 'ADOLES', 'YOUNGADULTS', 'ADULT', 'SENIORS', 'SRVC62', 'SRVC113', 'SRVC31', 'MHHOUSING', 'MHEDUCATION']
#Create condensed dataframes
mh_2015_dem = mh_2015_full[mh_cols]
mh_2016_dem = mh_2016_full[mh_cols]
mh_2017_dem = mh_2017_full[mh_cols]
mh_2018_dem = mh_2018_full[mh_cols]

dataset_lst_dem = [mh_2015_dem, mh_2016_dem, mh_2017_dem, mh_2018_dem]

#Create a list of only integer column names
mh_cols_int = ['FOCUS', 'CRISISTEAM2', 'TREATMT', 'MHDIAGEVAL', 'MHREFERRAL', 'MHEMGCY', 'MHSUICIDE', 'PAYASST',
           'LANG', 'LANG16', 'CHILDAD', 'ADOLES', 'YOUNGADULTS', 'ADULT', 'SENIORS', 'SRVC62', 'SRVC113', 'SRVC31', 'MHHOUSING', 'MHEDUCATION']

#Loop through datasets, rows, and columns to replace all negative values with zeros. Survey records a question skip as a negative value.
index_count = 0

for dataset in dataset_lst_dem:

    index_count = 0
    
    for rows in dataset.iterrows():
        
        for col in mh_cols_int:
            
            if dataset.loc[index_count, col] < 0:
            
                dataset.loc[index_count, col] = 0
        
        index_count = index_count + 1

C:\Users\allym\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [7]:
#Group each dataframe by state. Count the focus column to get a count of facilities. 
#Sum the rest of the columns since y/n is represented by 1/0
mh_2015_dem_group = mh_2015_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum', 'SRVC62': 'sum', 'SRVC113': 'sum', 'SRVC31': 'sum', 'MHHOUSING': 'sum', 'MHEDUCATION': 'sum' })

mh_2016_dem_group = mh_2016_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum', 'SRVC62': 'sum', 'SRVC113': 'sum', 'SRVC31': 'sum' , 'MHHOUSING': 'sum', 'MHEDUCATION': 'sum'})

mh_2017_dem_group = mh_2017_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum', 'SRVC62': 'sum', 'SRVC113': 'sum', 'SRVC31': 'sum' , 'MHHOUSING': 'sum', 'MHEDUCATION': 'sum'})

mh_2018_dem_group = mh_2018_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum', 'SRVC62': 'sum', 'SRVC113': 'sum', 'SRVC31': 'sum', 'MHHOUSING': 'sum', 'MHEDUCATION': 'sum' })

#Rename column to reflect what it is measuring
mh_2015_dem_group =mh_2015_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN', 'SRVC62': 'LGBT', 'SRVC113': 'Veterans', 'SRVC31': 'CoSubstance'})
mh_2016_dem_group =mh_2016_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN', 'SRVC62': 'LGBT', 'SRVC113': 'Veterans', 'SRVC31': 'CoSubstance'})
mh_2017_dem_group =mh_2017_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN', 'SRVC62': 'LGBT', 'SRVC113': 'Veterans', 'SRVC31': 'CoSubstance'})
mh_2018_dem_group =mh_2018_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN', 'SRVC62': 'LGBT', 'SRVC113': 'Veterans', 'SRVC31': 'CoSubstance'})

In [9]:
#Merging 2015 - 2018 mh dataframes through outer merges

#Merge 2015 and 2016
merge_15_16 = pd.merge(mh_2015_dem_group, mh_2016_dem_group, on='state', suffixes = ('_2015', '_2016') )

#Merge the merged 2015/2016 and 2017
merge_15_16_17 = pd.merge(merge_15_16, mh_2017_dem_group, on='state' )

#Rename the columns from the 2017 dataframe
merge_15_16_17 = merge_15_16_17.rename(columns ={'Num_Facilities': 'Num_Facilities_2017', 'CRISISTEAM2':'CRISISTEAM2_2017' , 'TREATMT': 'TREATMT_2017',
                      'MHDIAGEVAL': 'MHDIAGEVAL_2017', 'MHREFERRAL': 'MHREFERRAL_2017', 'MHEMGCY': 'MHEMGCY_2017',
                      'MHSUICIDE': 'MHSUICIDE_2017', 'PAYASST': 'PAYASST_2017','LANG': 'LANG_2017','LANG_SPAN': 'LANG_SPAN_2017',
                     'CHILDAD': 'CHILDAD_2017', 'ADOLES': 'ADOLES_2017', 'YOUNGADULTS': 'YOUNGADULTS_2017', 'ADULT': 'ADULT_2017',
                      'SENIORS': 'SENIORS_2017', 'LGBT': 'LGBT_2017', 'Veterans' : 'Veterans_2017','CoSubstance': 'CoSubstance_2017', 'MHHOUSING': 'MHHOUSING_2017', 'MHEDUCATION': 'MHEDUCATION_2017' })

#Merge the merged 2015/2016/2017 and 2018
merge_15_16_17_18 = pd.merge(merge_15_16_17, mh_2018_dem_group, on='state' )

#Rename the columns from the 2018 dataframe
merge_15_16_17_18 = merge_15_16_17_18.rename(columns ={'Num_Facilities': 'Num_Facilities_2018', 'CRISISTEAM2':'CRISISTEAM2_2018' , 'TREATMT': 'TREATMT_2018',
                      'MHDIAGEVAL': 'MHDIAGEVAL_2018', 'MHREFERRAL': 'MHREFERRAL_2018', 'MHEMGCY': 'MHEMGCY_2018',
                      'MHSUICIDE': 'MHSUICIDE_2018', 'PAYASST': 'PAYASST_2018','LANG': 'LANG_2018','LANG_SPAN': 'LANG_SPAN_2018',
                     'CHILDAD': 'CHILDAD_2018', 'ADOLES': 'ADOLES_2018', 'YOUNGADULTS': 'YOUNGADULTS_2018', 'ADULT': 'ADULT_2018',
                      'SENIORS': 'SENIORS_2018', 'LGBT': 'LGBT_2018', 'Veterans' : 'Veterans_2018','CoSubstance': 'CoSubstance_2018', 'MHHOUSING': 'MHHOUSING_2018', 'MHEDUCATION': 'MHEDUCATION_2018'})

gov_party = gov_party.rename(columns ={'State':'state'})

merge_party = pd.merge(merge_15_16_17_18, gov_party, on='state')
merge_party = merge_party.set_index('state')
merge_party = merge_party.drop(['Puerto Rico'])

In [10]:
#MH Facilities offering LGBT Programs
mh_lgbt = merge_party[['Num_Facilities_2015','LGBT_2015','Num_Facilities_2016','LGBT_2016', 'Num_Facilities_2017','LGBT_2017', 'Num_Facilities_2018','LGBT_2018', 'Party']]

#Create columns that divide facilities with LGBT programs by total number of facilities for each year
mh_lgbt.loc[:,'2015'] = (mh_lgbt['LGBT_2015']/mh_lgbt['Num_Facilities_2015'])*100
mh_lgbt.loc[:,'2016'] = (mh_lgbt['LGBT_2016']/mh_lgbt['Num_Facilities_2016'])*100
mh_lgbt.loc[:,'2017'] = (mh_lgbt['LGBT_2017']/mh_lgbt['Num_Facilities_2017'])*100
mh_lgbt.loc[:,'2018'] = (mh_lgbt['LGBT_2018']/mh_lgbt['Num_Facilities_2018'])*100

mh_lgbt_trends = mh_lgbt[['2015','2016', '2017', '2018', 'Party']]
mh_lgbt_trends = mh_lgbt_trends.sort_values('2016', ascending=True)

#Export dataframe to csv
mh_lgbt_trends.to_csv('Output/mh_lgbt_trends.csv')
mh_lgbt_trends.head()

C:\Users\allym\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

                   2015      2016       2017       2018 Party
state
Iowa           6.024096  3.225806   7.333333  12.765957     R
South Dakota  16.666667  4.166667   3.921569   6.122449     R
Missouri      19.747899  4.566210   6.603774   9.952607     R
Arkansas       7.722008  4.680851   9.174312  14.537445     R
Kansas         7.692308  5.882353  10.569106  12.396694     R

In [11]:
#MH Facilities offering Veteran Programs
mh_veterans = merge_party[['Num_Facilities_2015','Veterans_2015','Num_Facilities_2016','Veterans_2016', 'Num_Facilities_2017','Veterans_2017', 'Num_Facilities_2018','Veterans_2018', 'Party' ]]

#Create columns that divide facilities with LGBT programs by total number of facilities for each year
mh_veterans.loc[:,'2015'] = (mh_veterans['Veterans_2015']/mh_veterans['Num_Facilities_2015'])*100
mh_veterans.loc[:,'2016'] = (mh_veterans['Veterans_2016']/mh_veterans['Num_Facilities_2016'])*100
mh_veterans.loc[:,'2017'] = (mh_veterans['Veterans_2017']/mh_veterans['Num_Facilities_2017'])*100
mh_veterans.loc[:,'2018'] = (mh_veterans['Veterans_2018']/mh_veterans['Num_Facilities_2018'])*100

mh_veteran_trends = mh_veterans[['2015','2016', '2017', '2018', 'Party']]
mh_veteran_trends = mh_veteran_trends.sort_values('2016', ascending=True)
#Export dataframe to csv
mh_veteran_trends.to_csv('Output/mh_verteran_trends.csv')
mh_veteran_trends.head()

                    2015      2016       2017       2018 Party
state
North Dakota    6.060606  3.125000   3.125000   8.823529     R
Arkansas        5.405405  3.829787   5.504587   9.691630     R
Iowa            7.831325  5.161290  10.000000  14.184397     R
Missouri       24.369748  7.762557  10.849057  14.691943     R
West Virginia  15.322581  7.964602  10.526316  12.396694     R

In [12]:
#MH Facilities offering housing Programs
mh_housing = merge_party[['Num_Facilities_2015','MHHOUSING_2015','Num_Facilities_2016','MHHOUSING_2016', 'Num_Facilities_2017','MHHOUSING_2017', 'Num_Facilities_2018','MHHOUSING_2018', 'Party' ]]

#Create columns that divide facilities with LGBT programs by total number of facilities for each year
mh_housing.loc[:,'2015'] = (mh_housing['MHHOUSING_2015']/mh_housing['Num_Facilities_2015'])*100
mh_housing.loc[:,'2016'] = (mh_housing['MHHOUSING_2016']/mh_housing['Num_Facilities_2016'])*100
mh_housing.loc[:,'2017'] = (mh_housing['MHHOUSING_2017']/mh_housing['Num_Facilities_2017'])*100
mh_housing.loc[:,'2018'] = (mh_housing['MHHOUSING_2018']/mh_housing['Num_Facilities_2018'])*100

mh_housing_trends = mh_housing[['2015','2016', '2017', '2018', 'Party']]
mh_housing_trends = mh_housing_trends.sort_values('2016', ascending=True)

#Export dataframe to csv
mh_housing_trends.to_csv('Output/mh_housing_trends.csv')
mh_housing_trends.head()

                   2015       2016       2017       2018 Party
state
Arkansas       5.405405   5.531915   7.798165   7.488987     R
Wisconsin      8.425721   9.302326  10.952381  10.617284     R
North Dakota   9.090909   9.375000   9.375000  11.764706     R
Iowa           9.638554  10.967742   9.333333   7.801418     R
Idaho         11.055276  12.429379  13.698630  11.811024     R

In [13]:
#MH Facilities offering housing Programs
mh_education = merge_party[['Num_Facilities_2015','MHEDUCATION_2015','Num_Facilities_2016','MHEDUCATION_2016', 'Num_Facilities_2017','MHEDUCATION_2017', 'Num_Facilities_2018','MHEDUCATION_2018', 'Party' ]]

#Create columns that divide facilities with LGBT programs by total number of facilities for each year
mh_education.loc[:,'2015'] = (mh_education['MHEDUCATION_2015']/mh_education['Num_Facilities_2015'])*100
mh_education.loc[:,'2016'] = (mh_education['MHEDUCATION_2016']/mh_education['Num_Facilities_2016'])*100
mh_education.loc[:,'2017'] = (mh_education['MHEDUCATION_2017']/mh_education['Num_Facilities_2017'])*100
mh_education.loc[:,'2018'] = (mh_education['MHEDUCATION_2018']/mh_education['Num_Facilities_2018'])*100

mh_education_trends = mh_education[['2015','2016', '2017', '2018', 'Party']]
mh_education_trends = mh_education_trends.sort_values('2016', ascending=True)

#Export dataframe to csv
mh_education_trends.to_csv('Output/mh_education_trends.csv')
mh_education_trends.head()

                           2015       2016       2017       2018 Party
state
Maine                 18.433180  18.226601  22.043011  20.555556     D
Washington            18.045113  18.374558  19.558360  19.943820     D
District of Columbia  28.947368  19.512195  21.621622  22.857143     D
Connecticut           20.746888  21.888412  23.611111  26.872247     D
Maryland              21.967213  22.945205  23.106061  25.101215     D

In [14]:
#MH Facilities offering substance Programs
mh_substance = merge_party[['Num_Facilities_2015','TREATMT_2015','Num_Facilities_2016','TREATMT_2016', 'Num_Facilities_2017','TREATMT_2017', 'Num_Facilities_2018','TREATMT_2018', 'Party' ]]

#Create columns that divide facilities with LGBT programs by total number of facilities for each year
mh_substance.loc[:,'2015'] = (mh_substance['TREATMT_2015']/mh_substance['Num_Facilities_2015'])*100
mh_substance.loc[:,'2016'] = (mh_substance['TREATMT_2016']/mh_substance['Num_Facilities_2016'])*100
mh_substance.loc[:,'2017'] = (mh_substance['TREATMT_2017']/mh_substance['Num_Facilities_2017'])*100
mh_substance.loc[:,'2018'] = (mh_substance['TREATMT_2018']/mh_substance['Num_Facilities_2018'])*100

mh_substance_trends = mh_substance[['2015','2016', '2017', '2018', 'Party']]
mh_substance_trends = mh_substance_trends.sort_values('2016', ascending=True)

#Export dataframe to csv
mh_substance_trends.to_csv('Output/mh_substance_trends.csv')
mh_substance_trends.head()

                   2015       2016       2017       2018 Party
state
Pennsylvania  34.477124  33.959044  35.901926  35.294118     R
Arkansas      37.065637  34.468085  38.990826  40.088106     R
Alabama       32.487310  34.715026  33.142857  33.333333     R
Iowa          40.963855  34.838710  40.000000  41.134752     R
Minnesota     34.979424  36.250000  38.839286  40.000000     D

#####

In [15]:
#MH Facilities offering suicide prevention services
mh_suicide = merge_party[['Num_Facilities_2015','MHSUICIDE_2015','Num_Facilities_2016','MHSUICIDE_2016', 'Num_Facilities_2017','MHSUICIDE_2017', 'Num_Facilities_2018','MHSUICIDE_2018', 'Party' ]]

#Create columns that divide facilities serving spanish speakers by total number of facilities for each year
mh_suicide.loc[:,'2015'] = (mh_suicide['MHSUICIDE_2015']/mh_suicide['Num_Facilities_2015'])*100
mh_suicide.loc[:,'2016'] = (mh_suicide['MHSUICIDE_2016']/mh_suicide['Num_Facilities_2016'])*100
mh_suicide.loc[:,'2017'] = (mh_suicide['MHSUICIDE_2017']/mh_suicide['Num_Facilities_2017'])*100
mh_suicide.loc[:,'2018'] = (mh_suicide['MHSUICIDE_2018']/mh_suicide['Num_Facilities_2018'])*100

mh_suicide_trends = mh_suicide[['2015','2016', '2017', '2018', 'Party']]
mh_suicide_trends = mh_suicide_trends.sort_values('2016', ascending=True)


#Export dataframe to csv
mh_suicide_trends.to_csv('Output/mh_suicide_trends.csv')
mh_suicide_trends.head()

                     2015       2016       2017       2018 Party
state
Maine           29.032258  31.034483  33.333333  37.222222     D
Massachusetts   34.117647  35.693215  36.825397  42.622951     D
Iowa            36.746988  38.064516  40.000000  44.680851     R
North Carolina  31.286550  38.486842  38.521401  38.675958     R
Ohio            34.974533  39.547038  42.468240  45.293073     R

In [30]:
#Merge Data on MH facility mental health services with suicide rate data
suicide_rate_service= pd.merge(mh_suicide_trends, mh_2017_suicide, on='state' )

suicide_rate_service.to_csv('Output/suicide_rate_service.csv')

In [9]:
#MH Facilities offering service in Spanish
mh_language = merge_15_16_17_18[['Num_Facilities_2015','LANG_SPAN_2015','Num_Facilities_2016','LANG_SPAN_2016', 'Num_Facilities_2017','LANG_SPAN_2017', 'Num_Facilities_2018','LANG_SPAN_2018' ]]

#Create columns that divide facilities serving spanish speakers by total number of facilities for each year
mh_language.loc[:,'2015'] = (mh_language['LANG_SPAN_2015']/mh_language['Num_Facilities_2015'])*100
mh_language.loc[:,'2016'] = (mh_language['LANG_SPAN_2016']/mh_language['Num_Facilities_2016'])*100
mh_language.loc[:,'2017'] = (mh_language['LANG_SPAN_2017']/mh_language['Num_Facilities_2017'])*100
mh_language.loc[:,'2018'] = (mh_language['LANG_SPAN_2018']/mh_language['Num_Facilities_2018'])*100

mh_language_trends = mh_language[['2015','2016', '2017', '2018']]

#Export dataframe to csv
mh_language_trends.to_csv('Output/mh_language_trends.csv')
mh_language_trends.head()

                 2015       2016       2017       2018
state
Alabama     10.659898  13.989637  14.285714  14.689266
Alaska      10.679612  10.101010  12.790698  13.186813
Arizona     63.212435  62.698413  59.139785  60.821918
Arkansas    13.127413  13.191489  12.844037  15.418502
California  73.932092  75.568182  76.558891  77.203290

In [16]:
#MH Facilities offering services to those who cannot pay for it
mh_payassist = merge_party[['Num_Facilities_2015','PAYASST_2015','Num_Facilities_2016','PAYASST_2016', 'Num_Facilities_2017','PAYASST_2017', 'Num_Facilities_2018','PAYASST_2018', 'Party' ]]

#Create columns that divide facilities offering services to those who cannot pay for its by total number of facilities for each year
mh_payassist.loc[:,'2015'] = (mh_payassist['PAYASST_2015']/mh_payassist['Num_Facilities_2015'])*100
mh_payassist.loc[:,'2016'] = (mh_payassist['PAYASST_2016']/mh_payassist['Num_Facilities_2016'])*100
mh_payassist.loc[:,'2017'] = (mh_payassist['PAYASST_2017']/mh_payassist['Num_Facilities_2017'])*100
mh_payassist.loc[:,'2018'] = (mh_payassist['PAYASST_2018']/mh_payassist['Num_Facilities_2018'])*100

mh_payassist_trends = mh_payassist[['2015','2016', '2017', '2018', 'Party']]
mh_payassist_trends = mh_payassist_trends.sort_values('2016', ascending=True)

#Export dataframe to csv
mh_payassist_trends.to_csv('Output/mh_payassist_trends.csv')

mh_payassist_trends.head()

                     2015       2016       2017       2018 Party
state
South Carolina  29.545455  28.925620  26.605505  39.047619     R
Wisconsin       31.263858  29.069767  30.714286  31.851852     R
Massachusetts   35.882353  36.283186  33.333333  35.409836     D
Kentucky        33.944954  36.651584  50.480769  46.046512     R
Rhode Island    26.562500  37.096774  37.500000  37.500000     D

In [32]:

suicide_rate_pay= pd.merge(mh_payassist_trends, mh_2017_suicide, on='state' )

suicide_rate_pay.to_csv('Output/suicide_rate_payment.csv')

In [10]:
#MH Facilities offering services to children age 0-12
mh_child = merge_15_16_17_18[['Num_Facilities_2015','CHILDAD_2015','Num_Facilities_2016','CHILDAD_2016', 'Num_Facilities_2017','CHILDAD_2017', 'Num_Facilities_2018','CHILDAD_2018' ]]

#Create columns that divide facilities serving children age 0-12 by total number of facilities for each year
mh_child.loc[:,'2015'] = (mh_child['CHILDAD_2015']/mh_child['Num_Facilities_2015'])*100
mh_child.loc[:,'2016'] = (mh_child['CHILDAD_2016']/mh_child['Num_Facilities_2016'])*100
mh_child.loc[:,'2017'] = (mh_child['CHILDAD_2017']/mh_child['Num_Facilities_2017'])*100
mh_child.loc[:,'2018'] = (mh_child['CHILDAD_2018']/mh_child['Num_Facilities_2018'])*100

mh_child_trends = mh_child[['2015','2016', '2017', '2018']]

#Export dataframe to csv
mh_child_trends.to_csv('Output/mh_child_trends.csv')

mh_child_trends.head()

                 2015       2016       2017       2018
state
Alabama     43.147208  43.523316  42.857143  44.632768
Alaska      73.786408  75.757576  72.093023  73.626374
Arizona     49.222798  47.883598  48.118280  49.041096
Arkansas    69.884170  71.063830  69.724771  66.519824
California  50.821468  49.659091  49.191686  48.061105

In [11]:
#MH Facilities offering services to adolescents age 13-17
mh_adolescent = merge_15_16_17_18[['Num_Facilities_2015','ADOLES_2015','Num_Facilities_2016','ADOLES_2016','Num_Facilities_2017','ADOLES_2017', 'Num_Facilities_2018','ADOLES_2018' ]]

#Create columns that divide facilities serving adolescents age 13-17 by total number of facilities for each year
mh_adolescent.loc[:,'2015'] = (mh_adolescent['ADOLES_2015']/mh_adolescent['Num_Facilities_2015'])*100
mh_adolescent.loc[:,'2016'] = (mh_adolescent['ADOLES_2016']/mh_adolescent['Num_Facilities_2016'])*100
mh_adolescent.loc[:,'2017'] = (mh_adolescent['ADOLES_2017']/mh_adolescent['Num_Facilities_2017'])*100
mh_adolescent.loc[:,'2018'] = (mh_adolescent['ADOLES_2018']/mh_adolescent['Num_Facilities_2018'])*100

mh_adolescent_trends = mh_adolescent[['2015','2016', '2017', '2018']]

#Export dataframe to csv
mh_adolescent_trends.to_csv('Output/mh_adolescent_trends.csv')

mh_adolescent_trends.head()

                 2015       2016       2017       2018
state
Alabama     45.177665  45.595855  45.142857  46.892655
Alaska      85.436893  87.878788  87.209302  84.615385
Arizona     54.145078  52.116402  52.956989  53.150685
Arkansas    70.656371  70.212766  68.348624  69.603524
California  56.297919  55.000000  55.311778  53.936545

In [12]:
#MH Facilities offering services to young adults age 18-25
mh_yadults = merge_15_16_17_18[['Num_Facilities_2015','YOUNGADULTS_2015','Num_Facilities_2016','YOUNGADULTS_2016','Num_Facilities_2017','YOUNGADULTS_2017', 'Num_Facilities_2018','YOUNGADULTS_2018' ]]

#Create columns that divide facilities serving young adults age 18-25 by total number of facilities for each year
mh_yadults.loc[:,'2015'] = (mh_yadults['YOUNGADULTS_2015']/mh_yadults['Num_Facilities_2015'])*100
mh_yadults.loc[:,'2016'] = (mh_yadults['YOUNGADULTS_2016']/mh_yadults['Num_Facilities_2016'])*100
mh_yadults.loc[:,'2017'] = (mh_yadults['YOUNGADULTS_2017']/mh_yadults['Num_Facilities_2017'])*100
mh_yadults.loc[:,'2018'] = (mh_yadults['YOUNGADULTS_2018']/mh_yadults['Num_Facilities_2018'])*100

mh_yadults_trends = mh_yadults[['2015','2016', '2017', '2018']]

#Export dataframe to csv
mh_yadults_trends.to_csv('Output/mh_yadults_trends.csv')

mh_yadults_trends.head()

                 2015       2016       2017       2018
state
Alabama     83.248731  82.383420  80.571429  80.790960
Alaska      79.611650  81.818182  80.232558  80.219780
Arizona     85.233161  87.037037  85.483871  87.397260
Arkansas    76.447876  74.893617  80.275229  81.057269
California  83.680175  85.227273  85.796767  86.486486

In [13]:
#MH Facilities offering services to adults age 26-64
mh_adults = merge_15_16_17_18[['Num_Facilities_2015','ADULT_2015','Num_Facilities_2016','ADULT_2016','Num_Facilities_2017','ADULT_2017', 'Num_Facilities_2018','ADULT_2018' ]]

#Create columns that divide facilities serving adults age 26-64 by total number of facilities for each year
mh_adults.loc[:,'2015'] = (mh_adults['ADULT_2015']/mh_adults['Num_Facilities_2015'])*100
mh_adults.loc[:,'2016'] = (mh_adults['ADULT_2016']/mh_adults['Num_Facilities_2016'])*100
mh_adults.loc[:,'2017'] = (mh_adults['ADULT_2017']/mh_adults['Num_Facilities_2017'])*100
mh_adults.loc[:,'2018'] = (mh_adults['ADULT_2018']/mh_adults['Num_Facilities_2018'])*100

mh_adults_trends = mh_adults[['2015','2016', '2017', '2018']]

#Export dataframe to csv
mh_adults_trends.to_csv('Output/mh_adults_trends.csv')

mh_adults_trends.head()

                 2015       2016       2017       2018
state
Alabama     85.786802  84.974093  85.714286  85.875706
Alaska      65.048544  66.666667  67.441860  68.131868
Arizona     82.642487  84.656085  83.602151  84.931507
Arkansas    75.289575  73.191489  77.981651  79.295154
California  72.289157  72.500000  72.055427  72.385429

In [14]:
#MH Facilities offering services to seniors age 65+
mh_seniors = merge_15_16_17_18[['Num_Facilities_2015','SENIORS_2015','Num_Facilities_2016','SENIORS_2016','Num_Facilities_2017','SENIORS_2017', 'Num_Facilities_2018','SENIORS_2018' ]]

#Create columns that divide facilities serving adults age 26-64 by total number of facilities for each year
mh_seniors.loc[:,'2015'] = (mh_seniors['SENIORS_2015']/mh_seniors['Num_Facilities_2015'])*100
mh_seniors.loc[:,'2016'] = (mh_seniors['SENIORS_2016']/mh_seniors['Num_Facilities_2016'])*100
mh_seniors.loc[:,'2017'] = (mh_seniors['SENIORS_2017']/mh_seniors['Num_Facilities_2017'])*100
mh_seniors.loc[:,'2018'] = (mh_seniors['SENIORS_2018']/mh_seniors['Num_Facilities_2018'])*100

mh_senior_trends = mh_seniors[['2015','2016', '2017', '2018']]

#Export dataframe to csv
mh_senior_trends.to_csv('Output/mh_senior_trends.csv')

mh_senior_trends

                           2015       2016       2017       2018
state
Alabama               87.309645  84.974093  85.142857  84.745763
Alaska                62.135922  64.646465  65.116279  64.835165
Arizona               78.497409  81.481481  82.258065  82.739726
Arkansas              74.131274  70.638298  75.229358  74.008811
California            59.912377  60.681818  60.969977  61.104583
Colorado              74.384236  76.344086  77.837838  80.219780
Connecticut           76.348548  75.107296  75.925926  74.889868
Delaware              70.967742  65.517241  69.696970  77.777778
District of Columbia  81.578947  82.926829  81.081081  85.714286
Florida               81.261950  82.653061  83.155650  83.609959
Georgia               84.745763  84.018265  85.500000  82.648402
Hawaii                87.234043  91.111111  88.571429  92.105263
Idaho                 91.457286  93.220339  93.835616  94.488189
Illinois              86.129754  87.755102  88.688946  88.461538
Indiana               89.144737  89.700997  89.818182  88.194444
Iowa                  90.361446  91.612903  92.000000  90.070922
Kansas                84.615385  84.873950  86.178862  85.123967
Kentucky              81.651376  80.542986  79.326923  79.534884
Louisiana             88.172043  89.304813  87.500000  90.659341
Maine                 80.645161  82.266010  82.258065  82.777778
Maryland              79.672131  81.506849  82.575758  81.376518
Massachusetts         75.882353  76.401180  77.142857  79.344262
Michigan              89.600000  89.972145  89.614243  89.801700
Minnesota             83.539095  84.166667  84.375000  84.680851
Mississippi           77.619048  80.662983  81.502890  83.040936
Missouri              80.252101  81.735160  83.018868  82.464455
Montana               77.319588  75.000000  74.712644  77.108434
Nebraska              82.786885  85.384615  90.977444  91.911765
Nevada                82.692308  78.431373  78.260870  81.250000
New Hampshire         68.656716  69.354839  71.428571  74.137931
New Jersey            83.880597  83.333333  83.660131  83.706070
New Mexico            79.220779  79.166667  81.034483  84.615385
New York              76.852792  77.480491  78.410439  78.934911
North Carolina        65.204678  64.473684  66.536965  67.595819
North Dakota          69.696970  65.625000  68.750000  67.647059
Ohio                  76.061121  75.958188  76.950998  77.619893
Oklahoma              83.333333  81.081081  80.419580  82.191781
Oregon                75.135135  78.235294  75.000000  76.219512
Pennsylvania          76.470588  78.839590  78.283713  81.283422
Puerto Rico           79.166667  77.272727  79.661017  76.923077
Rhode Island          81.250000  85.483871  85.714286  85.714286
South Carolina        87.121212  86.776860  86.238532  85.714286
South Dakota          81.481481  85.416667  86.274510  85.714286
Tennessee             80.573248  79.794521  80.291971  81.949458
Texas                 82.722513  83.977901  85.630499  85.459941
Utah                  74.774775  75.862069  73.913043  74.172185
Vermont               69.736842  75.000000  72.972973  71.232877
Virginia              81.660900  78.388278  78.490566  79.757085
Washington            80.827068  79.151943  76.025237  77.247191
West Virginia         83.870968  82.300885  84.210526  86.776860
Wisconsin             86.917960  87.441860  88.809524  87.654321
Wyoming               83.333333  82.352941  88.095238  87.500000